@charset "utf-8";

body {
	background-color: #E0FCEC;	
}
h1 {
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
li a:hover {
    background-color: #1AA6B7;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #022D41;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	font-size: large;
	text-align: center;
	
}

li {
    float: left;
}

li a {
	display: block;
	padding: 8px;
	overflow: hidden;
	background-color: #022D41;
	color: #DAECF3;	
	}
.active {
    background-color: #4CAF50;
}

.fullwidth {
	width: 100%;
}

.col1 {
	width: 25%;
	background-color: #4CAF50;
	float: left;
}
.col2 {
	width: 50%;
	background-color: #4C7F50;
	float: left;
}

.col3 {
	width: 25%;
	background-color: #4CAF50;
	float: left;
}

